
@use 'mixins';
@use 'variables';

//Google font
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

//basic styles
body {
    font-family: variables.$fontFamily;
    font-size: variables.$fontSize;
}
.container {
    width: 80%;
    margin: auto;
    @media(max-width: 767px) {
        width:95%;
    }
}
h2 {
    font-size: variables.$fontSize * 2;
    text-align: center;
    margin-bottom: 80px; 
}
.block {
    display: block;
}

//header 
header  {  
    nav {
        @include mixins.flex(row, space-between, center, wrap);
        padding: 15px 100px;
        background-color: rgba(variables.$blue, .6);
        backdrop-filter: blur(4px);
        width: 100%;
        position: fixed;
        top: 0;  
        z-index: 1;
        @media(max-width: 768px) {
            // flex-direction:column;
            // justify-content: center;
            padding: 15px 15px;
        }
        .logo {
            color: variables.$yellow;
            font-weight: 700;
            font-size: variables.$fontSize * 1.5;
            &:hover {
                color: white;
                text-shadow: 1px 1px 1.5px darken(variables.$blue, 10);
                cursor: pointer;
            }
        }
        #button {
            background: transparent;
            border: none;
            outline: none;
            display: none;
            #toggle {
                color: variables.$yellow;
                font-size: 30px;     
            }
            @media(max-width:768px) {
                display: inline-block;
            }       
        }
        ul { 
            @include mixins.flex(row, flex-end, center, wrap);
            @media(max-width: 768px) {
                width: 100%;
                text-align: end;
                padding-top: 5px;
                display: none;
            }
            li {
                a {
                    color: white;  
                    padding: 8px 15px;
                    @media(max-width: 768px) {
                        padding: 4px;
                        display: block;
                    }
                    &:hover {
                        color: variables.$yellow;
                        transition: variables.$transition;
                        text-shadow: 1px 1px 1.5px white;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .main-banner {
        @include mixins.bgImg(linear-gradient(to right, rgba(54, 124, 132, .6), rgba(54, 124, 132, .6)), url("../img/banner-1.png"), 100vh);
        @media(max-width: 767px) {
            background-position: top left;
        }
        article {
            color: white;
            @include mixins.flex(column, center, flex-end, wrap);
            padding: 150px 0;
            h1 {
                font-size: variables.$fontSize * 2.5;
                font-weight: 700;
                margin-bottom: 20px;
                @media(max-width: 767px) {
                    text-align: center;
                }  
            }
            p {
                font-size: variables.$fontSize * 1.5;
                margin-bottom: 20px;
            }
            a {
                color: variables.$blue;
                background: variables.$yellow;
                font-weight: 700;
                padding: 8px 12px;
                &:hover {
                    color: variables.$yellow;
                    background: variables.$blue;
                    border: 1px solid variables.$yellow;
                }
            }
        }
    }
}

main {
    .services {
        padding: variables.$padding;
        article {
            h2 {
                color: variables.$yellow;
            }
            .icons {
                @include mixins.flex(row, center, center, wrap);  
                span {
                    margin-right: 30px;
                    @include mixins.flex(column, center, center, wrap);  
                    i {
                        font-size: variables.$fontSize * 3;
                        color: variables.$blue;
                        padding: 40px 50px;
                        border-radius: 50%;
                        border: 2px solid variables.$yellow;
                        text-align: center; 
                    }
                    .square {
                        padding: 40px;
                    }
                    a {
                        color: variables.$blue;
                        padding: 8px 15px;
                        font-weight: 700;
                        &:hover {
                            color: variables.$yellow;
                            cursor: pointer;
                        }
                    }
                }
            } 
        }   
    }
    .lessons-banner {
        padding: variables.$padding;
        @include mixins.bgImg(linear-gradient(to right, rgba(54, 124, 132, .4), rgba(54, 124, 132, .4)), url("../img/banner-2.png"), auto);
        @media(max-width:767px) {
            padding-top: 50px;
        }
        .container {
            h2 {
                color: white;
                position: relative;
                @media(max-width:767px) {
                    margin-bottom: 30px;
                }
                span {
                    font-size: 1.4rem;
                    position: absolute;
                    bottom: -1.5px;
                    color: variables.$yellow;
                    @media(max-width:767px) {
                        bottom: -20px;
                    }
                }
            }  
            .wrapper {
                @include mixins.flex(row, space-between, center, wrap);
                div {
                    flex: 0 0 32%;           
                    @media(max-width:767px) {
                        flex: 0 0 100%;
                    }
                    h3 {
                        text-align: center;
                        color: variables.$yellow;
                        margin-bottom: 15px;
                        @media(max-width:767px) {
                            margin-bottom: 5px;
                        }
                    }
                    p {
                        text-align: justify;
                        color: white;
                    }
                }
            }              
        }
    }
    .projects {
        padding: variables.$padding;
        h2 {
            color: variables.$yellow;
        }
        .container {
            @include mixins.flex(row, space-between, center, wrap);
            a {
                flex: 0 0 33%;
                img {
                    width: 100%;
                    opacity: .7;
                    &:hover {
                        opacity: 1;
                        transform: scale(1.05, 1.05);
                    }                    
                }
            }
        }
    }
}

footer {
    background-color: variables.$blue;    
    padding: 50px 0;
    h2 {
        color: white;
        margin-bottom: 50px
    }
    .container {
        @include mixins.flex(row, space-between, center, wrap);
        @media(max-width: 768px) {
            @include mixins.flex(column, space-between, center, wrap);
        }
        form {
            flex: 0 0 10%;
            @include mixins.flex(column, space-between, stretch, wrap);
            input[type="text"],
            input[type="email"],
            textarea {
                padding: 15px;
                margin-bottom: 10px;
                border: 1px solid variables.$yellow;
                background-color: variables.$blue;
                font-size: .9rem;
                color: white;
                &::placeholder {
                    font-size: .9rem;
                    color: rgba(white, .8); 
                    font-family: variables.$fontFamily;
                }
                &:focus {
                    outline: none;
                }
            }
            input[type="submit"] {
                font-weight: bold;
                text-transform: uppercase;
                padding: 15px;
                color: white;
                background: variables.$yellow;
                border: none;
                &:focus {
                    outline: none;
                }
                &:hover {
                    border: 2px solid variables.$yellow;
                    background: variables.$blue;
                    color: variables.$yellow;
                }
            }
        }
        ul {
            flex: 0 0 20%;
            @media(max-width:767px) {
                flex: 0 0 100%;
                order: -1;
                margin-bottom: 15px;
            }
            li {
                color: white;
                margin-bottom: 10px;
                text-align: left;
                border-bottom: 1px solid rgba(variables.$yellow, .4);
                @media(max-width:767px) {
                    text-align: center;
                }
            }
            .social-media {                
                a {
                    margin-right: 10px;
                    color: variables.$yellow;
                    i {
                        font-size: variables.$fontSize * 1.5;                    
                        &:hover {
                            cursor: pointer;
                            transform: scale(1.5, 1.5);
                        }
                    }

                }
            }
        }
        iframe {
            flex: 0 0 40%;
            @media(max-width:767px) {
                display: none;
            }
        }    
    }

}
.bottom-bar {
    background-color: darken(variables.$yellow, 7%);
    padding: 15px 0;
    text-align: center;
    color: white;  
}

